config bot 'bot'
    option enabled '0'
    option python_bin '/usr/bin/python3'
    option bot_path '/root/openwrt-telegram-bot/bot.py'
    option telegram_token ''
    option allowed_chat_ids ''
    option rua_status_cmd 'ruantiblock status'
    option rua_add_cmd 'ruantiblock add list1 {domain}'
    option rua_update_cmd 'ruantiblock update'
